{% load static %}

<tr> 
    <td><button type="button" class="edit-project-btn button2" style= "background: none; border:none;"><a href= "{% url 'project_edit' project_name=x.ProjectName %}"><i id="edit-text" class="fa-solid fa-pen-to-square"></i></a></button><a href="{% url 'project_details' project_name=x.ProjectName %}"> {{ x.ProjectName }}</a></td>
    <td>{{ x.Location }}</td>
    <td>{{ x.AC_Power }} kW</td>
    <td>{{ x.CalculatedCost_NotIncludingKDV }} ₺</td>
    <td>{{x.Terrain_Roof}}</td>
    <td>{{ x.StartDate|date:"m/d/Y" }}</td>
    <td>{{ x.Situation }}</td>
</tr>
