{% extends "base.html" %}
    {% load static %}
    {% block css_files %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'client.css' %}"> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% endblock %}
    
    {% block title %} Realized Cost {% endblock %}
    {% block content %}
  <div class="body-div">
    <h2>Yeni Form</h2>

<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    
    {{ index_form.as_p }}

    <button type="submit">Gönder</button>
</form>
     
  </div>
          
  {% block js_files %} 
  <script src="{% static 'client.js' %}"></script> 
  
  {% endblock %}

  {% endblock %}  <!--sadkasdknlasdnlkasndkasnkladsklnadslknkadsn-->